@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <img src="D:\Ahmed\Projects C#\Web Application MVC\Integrated Protection Project\IntegratedProtection\IntegratedProtection.API\wwwroot/images\Carda521abc6-bb5e-4cc4-97fd-d0ba8d974fdf_٢٠٢٢٠٤١٤_١٩٠٦١٥-01.jpeg" alt="Alternate Text" />
</div>